//==== Experience styles=============================================================================================
.experience {
  padding: 48px 0;
  background-color: var(--Banya-Base-color-Dark-Background);
  background-repeat: no-repeat;
  background-position: right bottom;
  @media (min-width: $pc) {
    padding: 64px 0;
    min-height: 100vh;
  }
  // .experience__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (min-width: $pc) {
      row-gap: 64px;
    }
  }
  // .experience__heading
  &__heading {
  }
  // .experience__content
  &__content {
    display: flex;
    align-items: center;
    gap: 96px;
    @media (min-width: $pc) {
      gap: 124px;
    }
  }
  // .experience__left-col
  &__left-col {
  }
  // .experience__bg-holder
  &__bg-holder {
    display: block;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.25);
    position: relative;
    width: 100%;
    max-width: 352px;
    height: 376px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 16px;
    }
    @media (min-width: $pc) {
      max-width: 576px;
      height: 576px;
    }
  }
  // .experience__right-col
  &__right-col {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .heading {
    // .heading__top
    &__top {
    }
    // .heading__title-box
    &__title-box {
      &::before {
        background: var(--Banya-Brown-400);
      }
    }
    // .heading__subtitle
    &__subtitle {
      color: var(--Banya-Brown-400);
    }
    // .heading__title
    &__title {
      color: var(--Banya-Brown-50);
    }
    // .heading__right-col
    &__right-col {
      &::before {
        background: var(--Banya-Brown-900);
      }
    }
    // .heading__bottom
    &__bottom {
    }
    // .heading__text-holder
    &__text-holder {
      color: var(--Banya-Graphite-400);
    }
    // .heading__icon-holder
    &__icon-holder {
      width: fit-content;
      padding: 8px;
      border-radius: 50%;
      margin-left: auto;
      background: var(--Banya-Base-color-White-10);
    }
  }
}
.accordion-scroll {
  overflow: hidden;
  &.active {
    .accordion-scroll__title {
      background: var(--Banya-Base-color-White-5);
      color: var(--Banya-Brown-400);
    }
    .accordion-scroll__close {
      &::before, &::after {
        background: var(--Banya-Brown-400);
      }
      &::before {
        width: 0;
        height: 0;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
        background: var(--Banya-Brown-500);
      }
    }
    .accordion-scroll__text-holder {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1279px) {
    &.active {
      .accordion-scroll__title {
        background: var(--Banya-Base-color-White-5);
        color: var(--Banya-Brown-400);
      }
      .accordion__close {
        &::before, &::after {
          background: var(--Banya-Brown-400);
        }
        &::before {
          width: 0;
          height: 0;
        }
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
          background: var(--Banya-Brown-500);
        }
      }
      .accordion-scroll__content {
        display: block;
      }
    }
  }
  &__content {
    display: none;
  }
  &__icon-holder {
  }
  &__text-holder {
    color: var(--Banya-Brown-100);
    font-size: 14px;
    font-weight: 250;
    line-height: 1.5;
    margin-top: 16px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    border-radius: 12px;
    transition: all 0.4s ease 0s;
    position: relative;
    color: var(--Banya-Brown-50);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 8px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 1px;
      background: var(--Banya-Brown-50);
      border-radius: 2px;
      transition: all 0.4s ease 0s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 100%;
      background: var(--Banya-Brown-50);
      border-radius: 2px;
      transition: all 0.4s ease 0s;
    }
  }
}
//.no-scroll {
//  overflow: hidden !important;
//}
//==== Visit styles=============================================================================================
.visit {
  padding: 48px 0 32px;
  background-repeat: no-repeat;
  background-size: 576px 502px;
  background-position: center right;
  @media (min-width: $pc) {
    padding: 128px 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  // .visit__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    @media (min-width: $pc) {
      row-gap: 64px;
    }
  }
  // .visit__header
  &__header {
  }
  // .visit__content
  &__content {
  }
  // .visit__slider
  &__slider {
    overflow: visible;
  }
  // .visit__wrapper
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @media (min-width: $pc) {
      flex-wrap: nowrap;
      gap: 0;
    }
  }
  // .visit__slide
  &__slide {
  }
  .demon-card {
    .button {
      padding: 12px 8px;
      font-size: 12px;
      column-gap: 4px;
      letter-spacing: 0.12px;
    }
  }
  .heading {
    // .heading__icon-holder
    &__icon-holder {
      img {
        transform: rotate(90deg);
      }
    }
  }
}
.slider-visit {
  &__nav {
    @media (max-width: 1279px) {
      display: none;
    }
  }
}
.slide-visit {
  min-width: 256px;
  flex: 1 0 0;
  @media (min-width: $pc) {
    flex: none;
    width: 100%;
    max-width: 776px;
  }
}
//==== Celebrities styles=============================================================================================
.celebrities {
  padding: 48px 0;
  background: var(--Banya-Base-color-Dark-Background);
  @media (min-width: $pc) {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  // .celebrities__container
  &__container {
    @media (min-width: $pc) {
      padding: 96px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 64px;
    }
  }
  // .celebrities__card
  &__card {
  }
}
.card-cel {
  border-radius: 16px;
  border: 2px solid var(--Banya-Graphite-50);
  background: var(--Banya-Brown-50);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.75);
  padding: 16px 16px 24px 16px;
  width: 100%;
  max-width: 680px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  @media (min-width: $pc) {
    max-width: 1396px;
    flex-direction: row;
    column-gap: 48px;
    border-radius: 24px;
    padding: 16px 24px;
    align-items: center;
    position: sticky;
    top: 0;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  &:nth-child(odd) {
    margin-right: auto;
  }
  &:nth-child(even) {
    margin-left: auto;
  }
  // .card-cel__image-holder
  &__image-holder {
    height: 276px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      flex: 1 0 0;
      height: 476px;
      img {
        border-radius: 16px;
      }
    }
  }
  // .card-cel__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      flex: 1 0 0;
      max-width: 376px;
      row-gap: 32px;
    }
  }
  // .card-cel__subtitle
  &__subtitle {
    color: var(--Banya-Graphite-800);
  }
  // .card-cel__title
  &__title {
    color: var(--Banya-Brown-500);
  }
  // .card-cel__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 12px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: var(--Banya-Brown-100);
    }
    @media (min-width: $pc) {
      row-gap: 8px;
    }
  }
  // .card-cel__comment
  &__comment {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      row-gap: 32px;
    }
  }
  // .card-cel__text-holder
  &__text-holder {
    font-size: 16px;
    font-weight: 250;
    line-height: 1.4;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--Banya-Brown-100);
    }
    @media (min-width: $pc) {
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 1px;
      &::before {
        bottom: -16px;
      }
    }
  }
  // .card-cel__name
  &__name {
    color: var(--Banya-Graphite-800);
    font-family: "Jeferson", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 22px;
      line-height: 1.3;
    }
  }
}
//==== Logos styles=============================================================================================
.logos {
  padding: 64px 0 48px;
  background-repeat: no-repeat;
  background-size: 288px 252px;
  background-position: center right;
  @media (min-width: $pc) {
    background-size: 576px 503px;
    background-position: calc(100% - 135px) 6px;
    padding: 128px 0;
  }
  // .logos__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @media (min-width: $pc) {
      row-gap: 32px;
    }
  }
  // .logos__heading
  &__heading {
  }
  // .logos__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 32px;
    @media (min-width: $pc) {
      gap: 24px;
      padding: 0;
    }
  }
  // .logos__item
  &__item {
  }
  .heading {
    // .heading__top
    &__top {
    }
    // .heading__title-box
    &__title-box {
      flex: none;
      @media (min-width: $pc) {
        max-width: 100%;
        min-width: unset;
        width: fit-content;
      }
    }
    // .heading__title
    &__title {
    }
    // .heading__right-col
    &__right-col {
    }
  }
}
.item-logos {
  width: 100%;
  max-width: 88px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: luminosity;
  border-radius: 4px;
  opacity: 0.85;
  transition: all 0.4s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      mix-blend-mode: normal;
      opacity: 1;
    }
  }
  @media (min-width: $pc) {
    max-width: 176px;
    height: 100px;
  }
  // .item-logos__logo-holder
  &__logo-holder {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      width: 100%;
      max-width: 176px;
    }
  }
}
//==== Awards styles=============================================================================================
.awards {
  padding: 64px 0;
  background: var(--Banya-Base-color-White-100);
  @media (min-width: $pc) {
    padding: 128px 0;
  }
  // .awards__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (min-width: $pc) {
      row-gap: 64px;
    }
  }
  // .awards__header
  &__header {
  }
  // .awards__heading
  &__heading {
  }
  // .awards__content
  &__content {
  }
  // .awards__slider
  &__slider {
  }
  // .awards__wrapper
  &__wrapper {
  }
  // .awards__slide
  &__slide {
  }
  .heading {
    // .heading__top
    &__top {
    }
    // .heading__title-box
    &__title-box {
      max-width: 366px;
      @media (min-width: $pc) {
        max-width: 355px;
      }
    }
    // .heading__subtitle
    &__subtitle {
    }
    // .heading__title
    &__title {
    }
    // .heading__right-col
    &__right-col {
      &::before {
        width: calc(100% - 52px);
      }
    }
    // .heading__icon-holder
    &__icon-holder {
      display: flex;
      justify-content: flex-end;
      img {
        transform: rotate(90deg);
        width: 100%;
        max-width: 24px;
        height: 100%;
        object-fit: cover;
      }
      @media (min-width: $pc) {
        img {
          max-width: 32px;
        }
      }
    }
    // .heading__bottom
    &__bottom {
    }
    // .heading__text-holder
    &__text-holder {
    }
  }
}
.slider-awards {
  overflow: visible;
  // .slider-awards__nav
  &__nav {
    .swiper-button-prev, .swiper-button-next, .swiper-scrollbar {
      margin-top: 24px;
      @media (min-width: $pc) {
        margin-top: 32px;
      }
    }
  }
}
.slide-awards {
  width: 100%;
  min-height: 176px;
  max-width: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  @media (any-hover: hover) {
    &:hover {
      .slide-awards__bg {
        opacity: 0.7;
      }
    }
  }
  @media (min-width: $pc) {
    min-height: 276px;
    border-radius: 24px;
    max-width: 276px;
  }
  // .slide-awards__bg
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #BAADC6;
    z-index: -1;
    transition: opacity 0.4s ease 0s;
  }
  // .slide-awards__image-holder
  &__image-holder {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      width: 100%;
      max-width: 150px;
    }
  }
}
//==== FAQ styles=============================================================================================
.faq {
  padding: 32px 0 64px;
  background-repeat: no-repeat;
  background-size: 576px 502px;
  background-position: calc(100% + 300px) center;
  @media (min-width: $pc) {
    padding: 0;
  }
  // .faq__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 48px;
    row-gap: 32px;
    @media (min-width: $pc) {
      padding: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
      gap: 0;
    }
  }
  // .faq__left-col
  &__left-col {
    flex: 1 0 0;
    min-width: 256px;
    max-width: 376px;
    @media (min-width: $pc) {
      max-width: 100%;
    }
  }
  // .faq__image-holder
  &__image-holder {
    width: 100%;
    height: 376px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      position: relative;
      height: 100%;
      //min-height: 558px;
      img {
        height: 100%;
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      //&.active {
      //  //height: 100%;
      //}
    }
  }
  // .faq__right-col
  &__right-col {
    flex: 1 0 0;
    min-width: 256px;
    max-width: 376px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @media (min-width: $pc) {
      max-width: 100%;
      row-gap: 48px;
      //margin-top: auto;
      //margin-bottom: auto;
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }
  // .faq__heading
  &__heading {
  }
  .heading {
    // .heading__title-box
    &__title-box {
      min-width: unset;
      width: fit-content;
      max-width: unset;
    }
    // .heading__right-col
    &__right-col {
      &::before {
        display: none;
      }
      @media (min-width: $pc) {
        &::before {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $pc) {
    row-gap: 24px;
  }
  // .accordion__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    &.accordion-active {
      .accordion__title {
        background: var(--Banya-Base-color-Black-3);
        color: var(--Banya-Brown-500);
      }
      .accordion__close::before {
        width: 0;
        height: 0;
      }
      .accordion__close::after {
        transform: translate(-50%, -50%) rotate(90deg);
        background: var(--Banya-Brown-500);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        .accordion__title {
          background: var(--Banya-Base-color-Black-3);
          color: var(--Banya-Brown-500);
        }
        .accordion__close {
          &::before, &::after {
            background: var(--Banya-Brown-500);
          }
        }
      }
    }
  }
  // .accordion__inner
  &__inner {
  }
  // .accordion__title
  &__title {
    color: var(--Banya-Graphite-800);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    padding: 12px 24px 12px 8px;
    width: 100%;
    border-radius: 12px;
    transition: all 0.4s ease 0s;
    @media (min-width: $pc) {
      padding: 19.5px 40px 19.5px 16px;
    }
  }
  // .accordion__content
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  // .accordion__text-holder
  &__text-holder {
    margin-top: 16px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }
  }
  // .accordion__close
  &__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12.5px;
    right: 5px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 1px;
      background: var(--Banya-Graphite-800);
      border-radius: 2px;
      transition: all 0.4s ease 0s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 100%;
      background: var(--Banya-Graphite-800);
      border-radius: 2px;
      transition: all 0.4s ease 0s;
    }
    @media (min-width: $pc) {
      width: 24px;
      height: 24px;
      right: 16px;
    }
  }
}
//==== Sel-articles styles=============================================================================================
.sel-articles {
  padding: 64px 0;
  // .sel-articles__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
  // .sel-articles__button
  &__button {
  }
  // .sel-articles__content
  &__content {
  }
  // .sel-articles__slider
  &__slider {
  }
  // .sel-articles__wrapper
  &__wrapper {
  }
  // .sel-articles__slide
  &__slide {
  }
  .heading {
    // .heading__top
    &__top {
    }
    // .heading__title-box
    &__title-box {
      @media (min-width: $pc) {
        max-width: 412px;
      }
    }
    // .heading__title
    &__title {
    }
    // .heading__right-col
    &__right-col {
      &::before {
        width: calc(100% - 52px);
      }
    }
    // .heading__icon-holder
    &__icon-holder {
      display: flex;
      justify-content: flex-end;
      img {
        transform: rotate(90deg);
      }
    }
  }
}
.slider-sel-articles {
  overflow: visible;
  // .slider-sel-articles__nav
  &__nav {
  }
}
.slide-sel-articles {
  width: 100%;
  max-width: 256px;
  border-radius: 12px;
  background: var(--Banya-Base-color-White-50);
  transition: background 0.4s ease 0s;
  display: flex;
  flex-direction: column;
  @media (any-hover: hover) {
    &:hover {
      background: var(--Banya-Base-color-White-100);
      .slide-sel-articles__image-holder {
        img {
          max-height: 196px;
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    .slide-sel-articles__image-holder {
      img {
        max-height: 196px;
      }
    }
  }
  @media (min-width: $pc) {
    max-width: 376px;
    height: 476px;
    border-radius: 16px;
  }
  // .slide-sel-articles__link
  &__link {
  }
  // .slide-sel-articles__image-holder
  &__image-holder {
    position: relative;
    height: 206px;
    width: 100%;
    padding: 8px 8px 0 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.9;
      border-radius: 8px;
      transition: max-height 0.4s ease 0s, opacity 0.4s ease 0s;
    }
    @media (min-width: $pc) {
      height: unset;
      padding: 16px 16px 0 16px;
      img {
        height: 100%;
        max-height: 259px;
        border-radius: 12px;
      }
    }
  }
  // .slide-sel-articles__category
  &__category {
    position: absolute;
    top: 16px;
    left: 16px;
    @media (min-width: $pc) {
      top: 32px;
      left: 32px;
    }
  }
  // .slide-sel-articles__content
  &__content {
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
    flex: 1 0 0;
    @media (min-width: $pc) {
      min-height: 201px;
      padding: 32px 32px 24px 32px;
    }
  }
  // .slide-sel-articles__text-box
  &__text-box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      width: 100%;
      max-width: 312px;
      position: absolute;
      left: 32px;
      bottom: 56px;
    }
  }
  // .slide-sel-articles__title
  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--Banya-Graphite-800);
    text-overflow: ellipsis;
    line-height: 1.2;
    text-transform: uppercase;
  }
  // .slide-sel-articles__text-holder
  &__text-holder {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: var(--Banya-Graphite-500);
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 250;
    line-height: 1.3;
    @media (min-width: $pc) {
      -webkit-line-clamp: unset;
      max-height: 63px;
      transition: max-height 0.4s ease;
      font-size: 14px;
      line-height: 1.5;
    }
  }
  // .slide-sel-articles__icon-holder
  &__icon-holder {
    position: absolute;
    top: 0;
    right: 16px;
    width: 100%;
    max-width: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      max-width: 24px;
      right: 24px;
    }
  }
  .links {
    align-self: flex-end;
    letter-spacing: 0.12px;
    @media (min-width: $pc) {
      margin-top: auto;
      font-size: 12px;
    }
  }
}
//==== Maps styles=============================================================================================
.maps {
  background: var(--Banya-Base-color-White-100);
  padding: 32px 0;
  @media (min-width: $pc) {
    position: relative;
  }
  // .maps__container
  &__container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    @media (min-width: $pc) {
      max-width: 100%;
    }
  }
  // .maps__holder
  &__holder {
    flex: 1 0 0;
    min-width: 256px;
    iframe {
      width: 100%;
      height: 416px;
      border-radius: 12px;
    }
    @media (min-width: $pc) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      iframe {
        height: 100%;
      }
    }
  }
  // .maps__card
  &__card {
    flex: 1 0 0;
    min-width: 256px;
    border-radius: 12px;
    @media (min-width: $pc) {
      position: relative;
      z-index: 2;
      flex: none;
      width: 100%;
      max-width: 376px;
      margin-left: auto;
    }
  }
  .accordion {
    // .accordion__wrapper
    &__wrapper {
    }
    // .accordion__inner
    &__inner {
    }
    // .accordion__title
    &__title {
      display: flex;
      align-items: center;
      column-gap: 8px;
      color: var(--Banya-Graphite-800);
      &::before {
        font-size: 24px;
        color: var(--Banya-Graphite-800);
        transition: color 0.4s ease 0s;
      }
      @media (any-hover: hover) {
        &:hover {
          &::before {
            color: var(--Banya-Brown-500);
          }
        }
      }
      &.active {
        &::before {
          color: var(--Banya-Brown-500);
        }
      }
      @media (min-width: $pc) {
        padding: 16px 40px 16px 16px;
      }
    }
    // .accordion__content
    &__content {
    }
    // .accordion__text-holder
    &__text-holder {
    }
    // .accordion__close
    &__close {
      top: 16px;
      right: 8px;
      &::before, &::after {
        background: var(--Banya-Graphite-800);
      }
    }
  }
}
.card {
  border-radius: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
  @media (min-width: $pc) {
    border-radius: 24px;
  }
  // .card__image-holder
  &__image-holder {
    width: 100%;
    height: 192px;
    padding: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
    @media (min-width: $pc) {
      padding: 16px;
      height: 308px;
      img {
        border-radius: 16px;
      }
    }
  }
  // .card__content
  &__content {
    padding: 24px 16px;
    @media (min-width: $pc) {
      padding: 24px 24px 32px 24px;
    }
  }
}

